{% extends '_base.html' %}
{% block head %}

    <title>Login</title>
    {% endblock %}

    {% block content %}

    <!-- jumbotron -->
    <div class="form-section">
      <h4 class="centered">Please Login below:</h4>
      <form action="/login/" method="POST" class="login-register">

        <div class="row">
          <div class="col-md-12">
              <label>First Name:</label> <input type="text" name="fname" required="True"/>
          </div>
          <div class="col-md-12">
            <label>Last Name:</label> <input type="text" name="lname" required="True"/>
          </div>
      </div>
        <img id="google-icon" src="/static/images/g-icon.png" /><input type="submit" value="Sign in with Google" id="google-signin"/>
      </form>
    </div>
{% endblock %}