.navbar-brand h1{
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #939393;
}

.navbar-default {
  background-color: #00000047;
  border-color: transparent;
  padding: 25px 0px;
}

.navbar-nav li a{
  color: #fff !important;
}

.navbar-nav {
  float: right;
}

.navbar-nav .btn{
  background: #4a4a4ab0;
  margin-left: 18px;
}

.navbar-nav .btn:hover{
  background-color: #4a4a4a8a !important;
}

.navbar-brand a:hover{
  text-decoration: none;
}

.navbar-brand a:hover h1{
  color: #ffffff;
}

.centered{
  text-align: center;
}

.btn{
  background: #000;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover{
  color: #ffffffa8;
  background: #0000008c;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
  }

  th{
    background: #000;
    text-transform: uppercase;
    text-align: center !important;
  }

  tr{
    background-color: #000000a6;
  }
  
  tr:nth-child(even) {
    /* background-color: #333333; */
  }

  body #logout-link a{
    font-size: 12px;
    font-weight: bold;
    color: red;
  }

  button, input, select, textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  form.login-register{
    width: 800px;
    background: #0000005c;
    padding: 18px;
    margin: 0 auto;
  }

  form.login-register input[type="text"], form.login-registerinput[type="email"], form.login-register input[type="password"], form select{
    border: none;
    border-bottom: 1px solid #ffffff69;
    color: #fff;
    line-height: 3;
    background: transparent;
    outline: none;
    min-height: 45px;
  }

  form label{
    font-size: 17px;
  }

  form.login-register input[type="submit"]{
    outline: none;
    border: none;
    background: #000;
    width: fit-content;
    color: #fff;
    padding: 10px;
  }

  .other-options a{
    display: block;
    margin-bottom: 8px;
  }

.nav_bar_text{
    color: white;
    font-size: large;
    margin-top: 10px;
}
/* table, th, td {
    border: 1px solid black;
    text-align: center;
} */
.ghosts_table{
    width: 80%;
    margin: 0 auto 50px;
}

.overview .page-title{
  margin-top: 60px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.name_status{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

body{
  background-image: url(/static/images/bg-1.jpg);
  color: #fff;
}


.title-section{
  text-align: center;
}

.table-section{
  text-align: center;
  margin-top: 36px;
}

.table-section h3{

}

.form-section{
  margin-top: 100px;
}

form.namepicker{

}

form.namepicker .btn{
  background: #5a5a5a !important;
}

form.namepicker .btn:hover{
  background: #5a5a5a69 !important;
}

#google-icon{
  width: 26px;
  float: left;
  margin-top: 8px;
  margin-right: 6px;
}

.namepicker-section{
  margin-top: 60px;
}




@media screen and (max-width: 1200px) {
  .ghosts_table {
    width: 100%;
}
}


@media (max-width: 600px) {
  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  .btn{
    padding: 10px;
    font-size: 11px;
  }
  .navbar-brand h1 {
    font-size: 18px;
  }
  .nav>li{
    display: inline-block;
  }
  .navbar-default{
    text-align: center;
    padding: 8px 0px;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav .btn {
    background: #4a4a4ab0;
    margin-left: 10px;
    padding: 6px;
  }
  .navbar-brand {
    float: none;
  }
  td, th{
    min-width: 90px;
    font-size:11px;
    padding: 8px 6px;
  }
}