<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}
    {% endblock %}
 </head>
 <body>
    <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"> <a href="/"><h1>Ghost Name Generator - PHQ</h1></a></div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/" class="btn">Home</a></li>
        <li>{% block logout %} {% endblock %}</li> 
      </ul>
    </div>
    </div>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</body>
</html>
