{% extends '_base.html' %}
{% block head %}
    <title>Name Picker</title>
{% endblock %}

{% block logout %}
    <a href="/logout/" class="btn">Logout</a>
{% endblock %}

{% block content %}


<div class="title-section">
    <h3 class="page-title">
      {% if values.current_user %}
          {% if values.current_user.ghost %}
          <h3 class="page-title">Welcome back {{values.current_user.first_name}} "{{values.current_user.ghost}}" {{values.current_user.last_name}}.</h3>
          <p>Change your 'Ghost Name' below.</p>
          <a href="/logout/" class="btn">Logout</a>
          {% else %}
          <h3 class="page-title">Welcome, {{values.current_user.first_name}} {{values.current_user.last_name}}.</h3>
          <p>Create your own ghost name below.</p>
          <a href="/logout/" class="btn">Logout</a>
          {% endif %}
          
      {% else %}
      <h3 class="page-title">Welcome, Guest!!</h3>
      <p>Create your own ghost name. Login here before you can generate one.</p>
      {% endif %}
    </h3>
    
    <!-- <a href="/ghost_name_picker/pick-name" class="btn">{{values.pick_linktext}}</a> -->
  </div>

<div class="namepicker-section">
  <h3 class="centered">{{values.header_text}}:</h3>
    <form action="/ghost_name_picker/pick-name" method="POST" class="namepicker login-register">

    <div class="row">
      <div class="col-md-12">
          <select id="assigned_ghosts" name="assigned_ghost">
            {% for ghost in values.available_ghosts %}
             <option value="{{ghost.name}}">{{ghost.name}}</option>
            {% endfor %}
          </select>
      </div>
    </div>
    <input class="btn" type="submit" value="Get Ghost Name"/>

      <div class="other-options">
      </div>
  </form>
</div>
    

{% endblock %}