{% extends '_base.html' %}
{% block head %}
    <title>Ghost Name Picker</title>
{% endblock %}

{% block logout %}
<a href="{{ values.log_url|safe }}" class="btn">{{ values.log_url_linktext }}</a>
{% endblock %}


{% block content %}
    <div class="container overview">

      <div class="title-section">
          {% if values.current_user %}
              {% if values.current_user.ghost %}
              <h3 class="page-title">Welcome back {{values.current_user.first_name}} "{{values.current_user.ghost}}" {{values.current_user.last_name}}.</h3>
              <p>Change your 'Ghost Name' below.</p>
              <a href="/ghost_name_picker/pick-name" class="btn">{{values.pick_linktext}}</a>
              {% else %}
              <h3 class="page-title">Welcome, {{values.current_user.first_name}} {{values.current_user.last_name}}.</h3>
              <p>Create your own ghost name below.</p>
              <a href="/ghost_name_picker/pick-name" class="btn">{{values.pick_linktext}}</a>
              {% endif %}
              
          {% else %}
          <h3 class="page-title">Welcome, Guest!!</h3>
          <p>Create your own ghost name. <a href="/login/">Login here </a>before you can generate one.</p>
          <a href="/login/" class="btn">Login to get started</a>
          {% endif %}
          
    </div>
    <div class="container table-section">
        <h4>List of Ghost Names</h4>
        {% if values.ghosts %}
            <table class="ghosts_table">
                <tr>
                    <th>Ghost name</th>
                    <th>Available</th>
                    <th>User email</th>
                    <th>User name</th>
                </tr>
                {% for ghost in values.ghosts %}
                    <tr>
                        <td>{{ghost.name}}</td>
                        {% if ghost.taken %}
                        <td class="name_status red">No</td>
                        {% else %}
                        <td class="name_status green">Yes</td>
                        {% endif %}
                        <!-- <td>{% if ghost.taken %}No{% else %}Yes{% endif %}</td> -->
                        <td>{{ghost.user_email}}</td>
                        <td>{{ghost.user_full_name}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

  {% endblock %}